html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 960px;
  font-size: 16px;
  font-family: 'Roboto' , sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;
  background: white;
}

.header {
  padding-top: 50px;
  background: #eeeeee;
  min-height: 70px;
}

.header-layout {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1162px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation {
  width: 780px;
}

.main-navigation a {
  text-decoration: none;
  padding: 25px 20px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  padding-left: 50px;
  vertical-align: top;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
  padding-top: 25px;
}
.main-navigation li:nth-child(1) {
  padding-left: 50px;
}

.user-block {
  max-width: 140px;
  position: sticky;
}

.basket {
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 20px;
  color: black;
  text-decoration: none;
  display: block;
  padding: 25px 20px;
  padding-left: 50px;
  vertical-align: top;
}

.basket:hover {
  color: #fb565a;
}

.basket::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  width: 18px;
  height: 18px;
  background: transparent url("./img/cart-icon.png") no-repeat;
  opacity: 0.5;
}

.index-logo:hover {
  opacity: 0.6;
}

.index-logo:active {
  opacity: 0.3;
}

/*слайдер начало*/
.slider {
  position: relative;
  width: 1180px;
  height: 420px;
  margin: 0 auto;
}

.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}

.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 1000;
}

.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  background: white;
  border: 3px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background: #c1c1c1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-text {
  width: 380px;
  padding: 30px 0;
  color: #283136;
}

.slide-title {
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
  color: black;
}

.slide .btn {
  display: inline-block;
  width: 240px;
  margin: 0;
  margin-top: 15px;
  padding-top: 19px;
  padding-bottom: 19px;
  font-size: 12px;
  font: inherit;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background: #fb565a;
  border-radius: 3px;
  opacity: 0.8;
}

.slide:nth-child(1) {
  background-image: url('./img/slide-1.png');
  background-repeat: no-repeat;
  background-position: 80% 10px;
}

.slide:nth-child(2) {
  background-image: url('./img/slide-2.png');
  background-repeat: no-repeat;
  background-position: 80% 10px;
}

.slide:nth-child(3) {
  background-image: url('./img/slide-3.png');
  background-repeat: no-repeat;
  background-position: 80% 10px;
}

.slide {
  display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display:block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  display:block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  display:block;
}

/*слайдер конец*/

.index-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 80px;
  margin-top: 80px;
}

.index-content-title {
  margin-top: 25px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;

}
.index-content-text {
  color: #283136;
}

.btn-order {
  display: block;
  width: 160px;
  height: 50px;
  padding: 0 auto;
  margin-top: 5px;
  font-size: 12px;
  font: inherit;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: #fb565a;
  border-radius: 3px;
  border: 0;
  opacity: 0.8;
}

.content-green .btn-order {
  background: #00ca74;
}

.content-yellow .btn-order {
  background: #efc84a;
}

.btn:hover {
  opacity: 1.0;
}

.btn-order:hover {
  opacity: 1.0;
}

.index-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.index-info-left {
  width: 600px;
}

.index-info-right {
  width: 360px;
}

.index-info-title {
  font-size: 36px;
  font-weight: bold;
  margin-top: 40px;
}

.index-info-title2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 30px;
}

.info-list li {
  padding-bottom: 30px;
  position: relative;
}

.info-list li last-child {
  padding-bottom: 0;
}

.table-header {
  font-size: 36px;
  font-weight: bold;
  padding-right: 32px;
  padding-bottom: 16px;
}

.info-list {
  list-style: none;
}

.info-list li::before {
  content: "";
position: absolute;
top: 8px;
left: -36px;
width: 25px;
height: 2px;
background-color: #fb565a;
}

.table-data,
.index-info-text {
color: #283136;
}

.prtnr {
  opacity: 0.4;
  display: inline-block;
  width: 220px;
  height: 150px;
  margin: 0 30px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: white url("./img/main-partners.png") no-repeat center;
}

.partner-1 {
  background-position: -30px 30px;
  margin-left: 50px;
}

.partner-2 {
  background-position: -288px 30px;
}

.partner-3 {
  background-position: -590px 30px;
}

.partner-4 {
  background-position: -850px 30px;
}

.prtnr:hover {
  opacity: 1;
}

hr {
    border: none; /* Убираем границу */
    background-color: #eeeeee; /* Цвет линии */
    color: #eeeeee; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
    width: 1160px;
    margin-bottom: 30px;
}
